main{
    background-color: #121212;
}

#logo{
    width: 50px;
    height: 50px;
    margin:0px 20px 10px 0px
}
#cont_Art{
    padding-top: 40px;
}

h2 {
    color: #1abc54;
    text-align: center;
    font-size: 60px;
    padding: 10px 0px 10px 0px;
}

nav {
    background-color: #1abc54;
}

.link, .btn {
    color: white;
}

#boton{
    background-color: #1abc54;
    transition: 3;
    margin-top: 20;
    margin-left: 40px;
}
#boton:hover{
    background-color: gray;
   
}
#contenedor_Art{
    padding: 20px 0px 20px 0px;
}

#card{
    margin: 20px 40px 20px 40px;
}