body {
    background-color: #121212 !important;
    color: white !important;
    font-family: Arial, sans-serif;
    margin: 0;
}

.main-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 40px;
}


#menu-nav {
    width: 80%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    
}


.link,
.btn {
    color: white;
}

/* Caja del formulario */
.contact-container {
    width: 450px;
    padding: 40px;
    background-color: #1a1a1a !important;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    color: white !important;
}

/* Título */
.contact-container h2 {
    text-align: center;
    color: #1abc54 !important;
    margin-bottom: 25px;
    font-weight: bold;
}

/* Labels */
label,
.form-label {
    color: white !important;
    font-weight: bold !important;
}

/* Inputs, selects y textarea */
.form-control,
.form-select,
textarea {
    background-color: #2c2c2c !important;
    color: white !important;
    border: 1px solid #1abc54 !important;
}

/* Placeholder */
.form-control::placeholder,
textarea::placeholder {
    color: #dddddd !important;
}

/* Select opciones */
.form-select option {
    background-color: #2c2c2c !important;
    color: white !important;
}

/* Botón */
.btn-submit {
    width: 100%;
    background-color: #1abc54 !important;
    color: white !important;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.btn-submit:hover {
    background-color: #159e44 !important;
}

