body {
    background-color: #121212;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Caja del login */
.login-container {
    width: 380px;
    padding: 30px;
    background-color: #1a1a1a;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

/* Título arriba */
.login-container h2 {
    text-align: center;
    color: #1abc54;
    margin-bottom: 20px;
    font-size: 28px;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    background-color: #2c2c2c;
    border: 1px solid #1abc54;
    border-radius: 8px;
    color: white;
    margin-bottom: 15px;
}

input:focus {
    outline: none;
    border-color: #21d866;
}

/* Botón */
button {
    width: 100%;
    background-color: #1abc54;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

button:hover {
    background-color: #159e44;
}

/* Error */
.error-msg {
    color: #ff4d4d;
    text-align: center;
    margin-bottom: 10px;
}
