body{
    background-color:#0f0f0f;
    font-family: Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}

.form-container{
    background:#1a1a1a;
    padding:40px;
    width:400px;
    border-radius:10px;
    box-shadow:0 0 20px rgba(0,255,100,0.3);
}

h2{
    color:#00ff88;
    text-align:center;
    margin-bottom:25px;
}

label{
    color:#ccc;
    display:block;
    margin-top:15px;
}

input{
    width:100%;
    padding:10px;
    margin-top:5px;
    border:none;
    border-radius:5px;
    background:#2a2a2a;
    color:white;
}

input:focus{
    outline:2px solid #00ff88;
}

button{
    width:100%;
    padding:12px;
    margin-top:20px;
    background:#00ff88;
    border:none;
    border-radius:5px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#00cc6a;
}

.mensaje{
    text-align:center;
    color:#00ff88;
    margin-bottom:15px;
}

.volver{
    display:block;
    text-align:center;
    margin-top:15px;
    color:#00ff88;
    text-decoration:none;
}

.volver:hover{
    text-decoration:underline;
}